img {
  width: 50px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

article {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  position: relative;
  border-radius: 5px;
}

.first {
  position: absolute;
  right: 0px;
  top: 0px;
}

.first img {
  width: 20px;
  padding: 10px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second img {
  border-radius: 50%;
  width: 150px;
}

.third {
  text-align: center;
}

.third h1 {
  font-size: 18px;
  font-style: bold;
  margin-top: 25px;
}

.third p {
  color: grey;
  margin-top: -8px;
  margin-bottom: 50px;
}

.third a {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 12px 34px;
  border-radius: 20px;
  text-decoration: none;
}
