* {
  margin: 0;
  padding: 0;
} /* återställer webläsarens standard inst. */

body {
  background-image: linear-gradient(
    49deg,
    lightblue,
    lightgrey,
    lightblue
  ); /* bakgrund */
  height: 100vh; /* 100 view height */
  width: 100vw; /* 100 view width */
}

.main {
  font-family: "Courier New", Courier, monospace; /* text stil */
  font-style: bold; /* tjock text */
  font-weight: 600; /* text storlek i enheter */
  color: black; /* text färg */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text skugga */
  display: flex; /* flexbox */
  flex-direction: column; /* flex med columner */
  align-items: center; /* centrerar flexboxen */
}

.stycke {
  margin: 30px 0px; /* 30px marginal upp/ner, 0px höger/vänster  */
  text-decoration: underline; /* understräck */
}

.paragraph {
  text-align: center; /* centrerar text */
}

h1 {
  border: 2px solid black; /* ringar in */
  padding: 5px 15px; /* 5px upp/ner, 15px höger/vänster */
}

h2 {
  text-decoration: underline;
  justify-content: left; /* understräck */
}

h1,
h2,
h3,
h4 {
  margin: 8px;
  justify-content: left; /* marginal mellan headers */
}
