body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
  text-align: center;
  background: lightgray;
}

.card {
  background: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  position: relative;
}

.dot {
  display: flex;
  background-color: grey;
  padding: 2px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 0px 80px;
}

h1 {
  font-weight: 500;
  line-height: 90%;
}
h5 {
  font-weight: 600;
  color: grey;
  text-align: center;
  font-style: bold;
  margin-top: -5px;
  margin-bottom: 80px;
}

.dot:active {
  color: black;
}
