* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}

h1 {
  text-align: center;
}

h3,
p {
  color: white;
  text-shadow: 2px 4px 2px solid black;
  max-width: 500px;
}

#search-input {
    padding: 0.3rem;
}

#search-btn {
    padding: 0.3rem;
}

#book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 1rem;
}

.book-card {
  display: flex;
  gap: 10px;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: end;
}


.book-details {
    grid-column: 1 / 5;
    width: 50vw;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    text-align: center;
    gap: 10px;
}

#back-btn {
    padding: 0.3rem;
    place-content: end;
    margin-top: 5rem;
}