* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: center;
}

.container-one {
  width: 100vw;
  position: relative;
  background: rgb(105, 218, 105);
  padding: 10px;
  height: 350px;
}
.head {
  position: absolute;
  left: 43%;
  bottom: 0;
}
h1 {
  font-size: 72px;
  text-align: center;
  padding: 10px;
}

h3 {
  color: white;
  font-size: 24px;
  padding: 10px;
}

p {
  max-width: 300px;
  color: rgb(196, 190, 190);
  padding: 10px;
}

button {
  padding: 12px;
  background-color: rgb(219, 58, 58);
  color: white;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-grid img {
  width: 300px;
}
.second-grid img {
  width: 450px;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px;
  background-color: black;
  max-width: 1000px;
  margin: auto; /* This will center the grid */

}
.second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  max-width: 1000px;
  margin: auto;
}

.second-grid-p {
    color: black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.info h3 {
  color: black;
}
.info p {
    margin-bottom: 30px;
}
ul li {
    color: white;
}

footer {
    background-color: rgb(88, 87, 87);
}

.firstUlGrid    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    list-style: none;
    padding: 50px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    list-style: none;
    padding: 50px;
    margin-top: -90px;
}