* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.searchimg {
  width: 30px;
  position: absolute;
  left: 5px;
  bottom: 10px;
  z-index: 99;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  margin-bottom: 15px;
}

.logos {
  width: 100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.textarea-div {
  position: relative;
}

textarea {
  width: 70vw;
  border-radius: 15px;
  padding: 5px;
}

button {
  border-radius: 5px;
  border: 1px solid white;
  background-color: lightgray;
  padding: 10px;
  margin-top: 15px;
}

.nyhet {
    display: flex;
}