* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.searchimg {
  width: 30px;
  position: absolute;
  left: 5px;
  bottom: 10px;
  z-index: 99;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  margin-bottom: 15px;
}

.logos {
  width: 100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.textarea-div {
  position: relative;
}

textarea {
  width: 70vw;
  border-radius: 15px;
  padding: 5px;
}

textarea:hover {
  outline: 1px solid grey;
}

.navbar ul button {
  color: white;
  border-radius: 15px;
  background-color: rgb(62, 98, 218);
  padding: 10px;
}

.searchbutton {
  border-radius: 5px;
  border: 1px solid white;
  background-color: lightgray;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.searchbutton:hover {
  outline: 2px solid grey;
}

.nyhet {
  display: flex;
  margin: 5px;
}
.new {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.left-menu li,
.right-menu li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.right-menu img {
  width: 15px;
  cursor: pointer;
  margin-right: 7px;
}

.right-menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}
