body {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative; /* Lägg till denna rad */
}

#planet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.planet {
  margin: 10px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  position: relative;
}
#overlay {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay h2 {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
