body {
  background: linear-gradient(to bottom, #0c164d, #190b22);
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#planet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.planet {
  width: 120px;
  height: 120px;
  background-color: #444;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  background: radial-gradient(circle at 30% 30%, #666, #222);
}

.planet:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}
#overlay {
  position: fixed;
  background: linear-gradient(to bottom, #0c164d, #190b22);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 11rem 30rem;
  font-size: 22px;
}
#overlay h1,
#overlay h2 {
}

#overlay p {
  max-width: 1000px;
}
#overlay h2 {
  color: yellow;
  margin-top: -15px;
}

#overlay h2 {
  margin-bottom: 10px;
}

#overlay button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 20px;
  background-color: lightblue;
  margin-top: 10px;
  max-width: 100px;
}

.hidden {
  display: none !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
}
hr {
  border: none; /* Tar bort standardgränsen */
  height: 1px; /* Tjockleken på linjen */
  background-color: #fff; /* Färgen på linjen */
  margin: 20px 0; /* Utrymme ovanför och under linjen */
  width: 80%; /* Bredden på linjen */
  max-width: 1000px;
}

.merkurius {
    width: 40px;
    height: 40px;
}

.solen {
  position: fixed;
  left: -500px;
  top: 0;
  width: 600px;
  height: 1000px;
}


.venus {
    width: 50px;
    height: 50px;
}

.jorden {
    width: 60px;
    height: 60px;
}