* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #edefee;
  text-shadow: 0.1px 0.1px 0.1px black;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  max-height: 200px;
  max-width: 1000px;
  margin: auto;
}

.hero__logo {
  grid-row: 1 / 3;
  background-image: url("../assets/hand.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.hero__seedling {
  background-color: #9e6d52;
  width: 100%;
  height: 100px;
}

.hero__dig {
  background-color: #0a846e;
  width: 100%;
  height: 100px;
}

.nav__line {
  max-width: 1000px;
  margin: auto;
}

nav > * {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

nav {
  background-color: white;
  padding: 1rem;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

nav > ul > li {
  text-decoration: none;
  list-style: none;
  color: #055647;
  cursor: pointer;
}

.flex__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: auto;
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.grid__seed-package {
  background-color: white;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
}

.left {
  width: 200px;
  grid-row: 1 / 3;
  background-color: #0a846e;
  padding: 1rem;
  border-radius: 10rem;
}

.right {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right > button {
  padding: 1rem;
  width: 90px;
  border-radius: 0.5rem;
  margin-left: 8rem;
  border: none;
  color: white;
  background-color: #0a846e;
  cursor: pointer;
}

.right button:hover {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}

.right > h5 {
  font-size: 18px;
  font-weight: 700;
}

.flex__container > h2 {
  color: #055647;
  text-align: center;
  background-color: white;
  padding: 1rem;
}

.line {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line__two {
  max-width: 1000px;
  margin: auto;
}

.grid__container img {
  width: 100%;
  height: 10rem;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  width: auto;
  place-items: center;
  margin: auto;
  background-color: white;
  gap: 1rem;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.date {
  font-size: 18px;
  font-weight: 600;
  margin-left: 0.5rem;
}

.profile__name {
  font-size: 14px;
  color: grey;
}

.grid__container section button {
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: #b93857;
  border-radius: 1rem;
}

.grid__container section {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.trash-button {
  padding: 1rem;
}

.fler__button-div {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.fler__button-div button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #0a846e;
  width: 90px;
  cursor: pointer;
}

.fler__button-div button:hover {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}

.item__1,
.item__2,
.item__3,
.item__4,
.item__5,
.item__6 {
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  position: relative;
}

.overlay__logo {
  position: absolute;
  padding: 2rem;
}

.item__1:hover,
.item__2:hover,
.item__3:hover,
.item__4:hover,
.item__5:hover,
.item__6:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.item__1 div,
.item__2 div,
.item__3 div,
.item__4 div,
.item__5 div,
.item__6 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.3rem;
}

.hero__section-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  background-color: white;
}

.plant__div {
  background-color: #0a846e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 50%;
}

.plant__div img {
  height: 100px;
  width: 100px;
}

.hero__section-one--two--text-div > * {
  padding: 0.5rem;
}

.hero__section-one--two--text-div > button {
  background-color: #0a846e;
  border: none;
  margin-left: 0.3rem;
  color: white;
  border-radius: 0.2rem;
}

.footer__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  place-items: center;
  background-color: white;
}

.bottom {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  min-width: auto;
}

.top {
  background-color: black;
  width: 100%;
  min-width: auto;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.footer__div div img {
  width: 100px;
}

.contact__info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #0a846e;
  /* background-image: url(assets/hand.jpg);
  background-size: cover;
  background-position: center; */
}

.footer__left {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  background-color: black;
}

.footer__left-first {
  grid-column: 2 / 3;
}

.footer__left-second {
  grid-column: 1 / 4;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__right {
  grid-column: 2 / 2;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to__top {
  width: 1000px;
  text-align: center;
  font-size: 24px;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

.to__top a {
  text-decoration: none;
  color: black;
}
