/* DESKTOP */
@media (min-width: 859px) {
  .burger__menu {
    display: none;
  }
  .trash__logo {
    display: none;
  }
}
/* MOBILE */
@media (max-width: 859px) {
  * {
    overflow-x: hidden;
  }
  .navigation {
    display: none;
  }
  .trash__button {
    display: none;
  }
  .burger__menu {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    
  }
  .date {
    margin-left: 30px;
  }
  .date,
  .title {
    font-size: 12px;
  }
  .hero__section-one {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: auto;
    min-height: 400px;
    background-image: url("../assets/hand.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero__section-one--one {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  .hero__section-one--two {
    grid-row: 4 / 4;
    padding: 1rem;
  }
  .hero__section-one--three {
    grid-row: 4 / 4;
    padding: 1rem;
  }
  .flex__container > * {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 1rem 0rem;
  }
  .right {
    padding: 2rem 0rem;
  }
  .right > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .grid__container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .grid__container > div > img {
    width: 160px;
    height: 160px;
  }
  .hero__section-two {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__section-one--two--text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  footer > * {
    display: flex;
  }
}