/* DESKTOP */
@media (min-width: 859px) {
  .burger-menu {
    display: none;
  }
  .trash-logo {
    display: none;
  }
  
}

/* MOBILE */
@media (max-width: 859px) {
  * {
    overflow-x: hidden;
  }
}