* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
}

.wrapper {
  display: grid;
  width: 100%;
  border: 2px solid rgb(179, 15, 15);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 4rem;
  gap: 0.5rem;
}

.wrapper > * {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  border: 2px solid black;
}

nav {
  grid-column: 1 / 4;
  grid-row: auto;
}
main {
  grid-column: 1 / 3;
  grid-row: 5 / 12;
}
aside {
  grid-column: 3 / 3;
  grid-row: 5 / 12;
}

footer {
  grid-column: 1 / 4;
}

@media (max-width: 666px) {
  aside {
    grid-column: 1 / 4;
    grid-row: auto;
  }

  main {
    grid-column: 1 / 4;
  }
}
