body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

article {
    display: flex;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
    max-width: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.box-1 {
    background: #e70505;
    padding: 15px 1%;
}
.box-2 {
    background: #e7b205;
    padding: 15px 2%;
}
.box-3 {
    background: #05e7b6;
    padding: 15px 3%;
}
.box-4 {
    background: #059fe7;
    padding: 15px 4%;
}
.box-5 {
    background: #05e79c;
    padding: 15px 5%;
}
.box-6 {
    background: #0905e7;
    padding: 15px 6%;
}
.box-7 {
    background: #8d05e7;
    padding: 15px 7%;
}
.box-8 {
    background: #e705c9;
    padding: 15px 8%;
}
.box-9 {
    background: #e705c9;
    padding: 15px 9%;
}
.box-10 {
    background: #df05e7;
    padding: 15px 10%;
}